
<footer>

    <p> Powered by<a href="https://github.com/sujaykundu777/devlopr-jekyll"> devlopr jekyll</a>. Hosted at <a href="https://www.netlify.com/">netlify</a>. Subscribe via
        <a href="{{ " /feed.xml " | prepend: site.baseurl }}">RSS</a>
    </p>

</footer>
